{$CADDY_DOMAIN:localhost} {

    handle /mqtt {
        reverse_proxy mosquitto:9001
    }
    handle /ws/* {
        reverse_proxy auth_service:8001
    }
    handle /driver/* {
        reverse_proxy driver_service:8002
    }
    handle /auth/* {
        reverse_proxy auth_service:8001
    }
    handle /trips/* {
        reverse_proxy auth_service:8001
    }
    handle /drivers/* {
        reverse_proxy auth_service:8001
    }
    handle /notifications/* {
        reverse_proxy auth_service:8001
    }
    handle /health* {
        reverse_proxy auth_service:8001
    }
    handle /metrics* {
        reverse_proxy auth_service:8001
    }
    handle /frontend-metrics* {
        reverse_proxy auth_service:8001
    }
    handle {
        reverse_proxy frontend:80
    }
}
